{% extends 'base.html' %}
{% load static %}

{% block title %}
    Создать запись на склад
{% endblock %}

{% block content %}
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
            <span>Склад</span>
            <span>Создать запись на склад</span>
        </div>
        <h2 class="az-content-title">Создать запись на склад</h2>
        <div class="row row-sm mg-t-20">
            <form method="POST" enctype="multipart/form-data" class="needs-validation">
                {% csrf_token %}

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label class="ckbox" for="{{ form.cashless_payment.id_for_label }}">
                        {{ form.cashless_payment }}
                        <span>
                            {{ form.cashless_payment.label }}
                        </span>
                    </label>
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.sender_name.id_for_label }}">{{ form.sender_name.label }}</label>
                    {{ form.sender_name }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.sender_phone.id_for_label }}">{{ form.sender_phone.label }}</label>
                    {{ form.sender_phone }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.receiver_name.id_for_label }}">{{ form.receiver_name.label }}</label>
                    {{ form.receiver_name }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.receiver_phone.id_for_label }}">{{ form.receiver_phone.label }}</label>
                    {{ form.receiver_phone }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.places_count.id_for_label }}">{{ form.places_count.label }}</label>
                    {{ form.places_count }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.amount_paid.id_for_label }}">{{ form.amount_paid.label }}</label>
                    {{ form.amount_paid }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                    {{ form.comment }}
                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <div class="custom-file">
                        <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
                        {{ form.photo }}
                    </div>

                </div>

                <div class="col-lg mg-t-10 mg-lg-t-0 mb-3">
                    <button type="submit" class="btn btn-outline-primary">Отправить</button>
                </div>
            </form>
        </div><!-- row -->
        <div class="ht-40"></div>
    </div><!-- az-content-body -->
{% endblock %}
{% block extra_js %}
    <script src="{% static 'lib/ionicons/ionicons.js' %}"></script>
    <script src="{% static 'lib/jquery-ui/ui/widgets/datepicker.js' %}"></script>
    <script src="{% static 'lib/jquery.maskedinput/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'lib/spectrum-colorpicker/spectrum.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'lib/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js' %}"></script>
    <script src="{% static 'lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.js' %}"></script>
    <script src="{% static 'lib/pickerjs/picker.min.js' %}"></script>
    <script src="{% static 'js/cookie.js' %}" type="text/javascript"></script>
{% endblock %}
