{% extends 'base.html' %}
{% load static %}

{% block title %}
    Информация о записи #{{ record.id }}
{% endblock %}
{% load status_filters %}
{% load status_tags %}


{% block content %}
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
            <span>Склад</span>
            <span>Информация о записи #{{ record.id }}</span>
        </div>
        <div class="row">
            <!-- Левая колонка с информацией о записи -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Информация о записи #{{ record.id }} <span
                                class="badge {% status_color record.status %}">{{ record.status|translate_status }}</span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>ФИО отправителя:</strong> {{ record.sender_name }}</li>
                            <li class="list-group-item"><strong>Телефон отправителя:</strong> {{ record.sender_phone }}
                            </li>
                            <li class="list-group-item"><strong>ФИО получателя:</strong> {{ record.receiver_name }}</li>
                            <li class="list-group-item"><strong>Телефон получателя:</strong> {{ record.receiver_phone }}
                            </li>
                            <li class="list-group-item"><strong>Количество мест:</strong> {{ record.places_count }}</li>
                            <li class="list-group-item"><strong>Оплачено:</strong> {{ record.amount_paid }}</li>
                            <li class="list-group-item"><strong>Комментарий:</strong> {{ record.comment|default:"-" }}
                            </li>
                        </ul>
                        <div class="text-center mt-3">
                            {% if record.photo %}
                                <img src="{{ record.photo.url }}" alt="photo" class="img-fluid rounded">
                            {% else %}
                                <p>No photo available</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Правая колонка с историей, изменением статуса и кнопками действий -->
            <div class="col-lg-6">
                <!-- История изменений статусов -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Действия</h4>
                    </div>
                    <div class="card-body">

                        <div class="d-flex flex-column">
                            <a href="{% url 'generate_pdf' record.id %}" class="btn btn-success mb-1">
                                <i class="typcn typcn-export-outline"></i> Скачать PDF
                            </a>
                            <a href="{% url 'edit_record' record.pk %}" class="btn btn-warning">
                                <i class="typcn typcn-edit"></i> Редактировать
                            </a>
                        </div>
                        <h4 class="card-title mt-4">Изменить статус</h4>
                        <form method="post" action="{% url 'update_status' record.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="status">Новый статус</label>
                                <select name="status" id="status" class="form-control select2-no-search">
                                    <option value="accepted" {% if record.status == 'accepted' %}selected{% endif %}>
                                        Принято
                                    </option>
                                    <option value="delivered" {% if record.status == 'delivered' %}selected{% endif %}>
                                        Доставлено
                                    </option>
                                    <option value="issued" {% if record.status == 'issued' %}selected{% endif %}>Выдано
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Обновить статус</button>
                        </form>
                        <h4 class="card-title mt-4">История изменений статусов</h4>
                        <ul class="list-group">
                            {% for history in record.status_history.all %}
                                <li class="list-group-item">
                                    <strong>{{ history.changed_at }}:</strong> Статус изменён с
                                    <span class="badge {% status_color history.old_status %} ">{{ history.old_status|translate_status }}</span>
                                    на
                                    <span class="badge {% status_color history.new_status %}">{{ history.new_status|translate_status }}</span>
                                    пользователем {{ history.changed_by.username }}
                                </li>
                            {% empty %}
                                <li class="list-group-item">История изменений отсутствует.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <div class="mt-4">
            <a href="{% url 'record_list' %}" class="btn btn-indigo">
                <i class="typcn typcn-arrow-back-outline"></i> Назад к списку
            </a>
        </div>
    </div><!-- az-content-body -->
{% endblock %}
