{% extends 'base_login.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="az-signin-wrapper">
        <div class="az-card-signin">
            <h1 class="az-logo">Saule<span>-</span>Marat</h1>
            <div class="az-signin-header">
                <h2>С возвращением!</h2>
                <h4>Войдите в систему, чтобы продолжить</h4>

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" name="username" class="form-control" placeholder="Введите логин">
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" name="password" class="form-control" placeholder="Введите пароль">
                    </div><!-- form-group -->
                    <button class="btn btn-az-primary btn-block">Войти</button>
                </form>
            </div><!-- az-signin-header -->
            <div class="az-signin-footer">
                {% if error_message %}
                    <div class="alert alert-outline-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
                {#                <p><a href="">Forgot password?</a></p>#}
                {#                <p>Don't have an account? <a href="page-signup.html">Create an Account</a></p>#}
            </div><!-- az-signin-footer -->
        </div><!-- az-card-signin -->
    </div><!-- az-signin-wrapper -->
{% endblock %}
